.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
}

.pagination__button {
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
}

.pagination__button_disabled {
  opacity: 0.2;
}
