* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

:root {
  --black: #131313;
  --white: #fcfcfc;
  --gray: #dedede;
}

body {
  width: 70%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}
